@import url("https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin '@tailwindcss/typography';

@layer theme, base, components, utilities;

:root {
  color: #0a0705;
  --radius: 0.625rem;
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --color-text: #faf7f5;
  --color-background: #312e2b;
  --color-secondary: #e1e5e4;
  --color-accent: #f09b64;
  --color-primary: #c3723c;
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@theme {
  --color-secondary-50: #f1f3f3;
  --color-secondary-100: #e4e7e6;
  --color-secondary-200: #c8d0ce;
  --color-secondary-300: #adb8b5;
  --color-secondary-400: #92a09d;
  --color-secondary-500: #778884;
  --color-secondary-600: #5f6d6a;
  --color-secondary-700: #47524f;
  --color-secondary-800: #2f3735;
  --color-secondary-900: #181b1a;
  --color-secondary-950: #0c0e0d;

  --color-primary-50: #f9f1eb;
  --color-primary-100: #f3e3d8;
  --color-primary-200: #e7c7b1;
  --color-primary-300: #dbaa8a;
  --color-primary-400: #cf8e63;
  --color-primary-500: #c3723c;
  --color-primary-600: #9c5b30;
  --color-primary-700: #754424;
  --color-primary-800: #4e2e18;
  --color-primary-900: #27170c;
  --color-primary-950: #140b06;

  --color-text: #0a0705;

  --color-background-50: #f3f2f1;
  --color-background-100: #e7e6e4;
  --color-background-200: #d0ccc8;
  --color-background-300: #b8b3ad;
  --color-background-400: #a09992;
  --color-background-500: #888077;
  --color-background-600: #6d665f;
  --color-background-700: #524d47;
  --color-background-800: #37332f;
  --color-background-900: #1b1a18;
  --color-background-950: #0e0d0c;

  --color-accent-50: #fdf0e8;
  --color-accent-100: #fae1d1;
  --color-accent-200: #f6c4a2;
  --color-accent-300: #f1a674;
  --color-accent-400: #ed8845;
  --color-accent-500: #e86b17;
  --color-accent-600: #ba5512;
  --color-accent-700: #8b400e;
  --color-accent-800: #5d2b09;
  --color-accent-900: #2e1505;
  --color-accent-950: #170b02;

  --font-sansation: "Sansation", sans-serif;
}

@layer utilities {
  .heading {
    @apply uppercase bg-background-900 px-6 py-3 font-sansation font-black text-primary-50 sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
  }

  .sub-heading {
    @apply font-sansation uppercase font-medium text-[20px] text-secondary-800 max-w-2xl text-center break-words;
  }

  .secondary_container {
    @apply w-full bg-background-200 min-h-[530px] flex justify-center items-center flex-col py-10 px-6;
  }

  .section_container {
    @apply px-6 py-10 max-w-7xl mx-auto;
  }

  .search-form {
    @apply max-w-3xl w-full min-h-[80px] bg-white border-[2px] border-black rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
  }

  .search-input {
    @apply flex-1 font-bold placeholder:font-light placeholder:text-gray-700 w-full h-auto outline-none;
  }

  .search-btn {
    @apply size-[50px] rounded-full bg-black flex justify-center items-center;
  }

  .pattern {
    @apply -z-10 h-full inset-0 bg-[linear-gradient(to_right,black,transparent_0.6px),linear-gradient(to_bottom,black,transparent_0.6px)] bg-[size:6rem_4rem];
  }

  .card_grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }

  .no-result {
    @apply text-black text-sm font-normal;
  }

  .blog-card {
    @apply bg-background-200 hover:bg-gradient-to-b from-background-200 from-50% via-background-200 via-30% to-background-400/80 to-90% border-[3px] border-black py-6 px-5 rounded-[22px] shadow-xl hover:shadow-background-400 transition-all duration-300;
  }

  .blog-card-date {
    @apply font-semibold text-[16px] bg-white border-2 px-4 py-2 rounded-lg group-hover:bg-background-300 transition-all duration-300;
  }

  .blog-card-desc {
    @apply font-medium text-[16px] line-clamp-2 my-4 text-black/70 break-all;
  }

  .blog-card-img {
    @apply w-full h-[164px] rounded-[10px] object-cover;
  }

  .blog-card-btn {
    @apply rounded-md bg-black/90 hover:mx-1 font-medium text-[16px] text-white px-5 py-3;
  }

  .blog-card-skeleton {
    @apply w-full h-96 rounded-[22px] bg-zinc-400;
  }

  .category-tag {
    @apply font-medium font-sansation text-[16px] bg-background-800 text-white shadow-xl/30 px-4 py-2 rounded-full;
  }

  .tag {
    @apply bg-background-300 px-6 py-3 font-sansation font-bold rounded-sm uppercase relative shadow-xl;
  }

  .tag::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    border-top: 10px solid black;
    border-right: 10px solid transparent;
  }

  .tag::after {
    content: "";
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    border-bottom: 10px solid black;
    border-left: 10px solid transparent;
  }

  .prose img {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 1rem;
  }

  .prose p {
    font-size: 25px;
  }

  .view_skeleton {
    @apply bg-zinc-400 h-10 w-24 rounded-lg fixed bottom-3 right-3;
  }

  .view-container {
    @apply flex justify-end items-center mt-5 fixed bottom-3 right-3 shadow-xl shadow-black/20;
  }

  .view-text {
    @apply font-medium text-[16px] bg-background-300 px-4 py-2 rounded-lg capitalize;
  }

  .blog-form {
    @apply max-w-2xl mx-auto bg-white my-10 space-y-8 px-6;
  }

  .blog-form-label {
    @apply font-bold font-sansation text-[18px] text-black uppercase;
  }

  .blog-form-input {
    @apply border-2 border-black px-5 py-7 text-black font-medium rounded-xl mt-3 placeholder:text-black/40 placeholder:italic focus:border-black/30;
  }

  .blog-form-textarea {
    @apply border-2 border-black p-5 text-black font-medium rounded-xl mt-3 placeholder:text-black/40 placeholder:italic focus:border-black/30;
  }

  .blog-form-editor {
    @apply mt-3 border-2 border-black text-black font-semibold placeholder:text-black/30;
  }

  .blog-form-error {
    @apply text-red-500 mt-2 ml-5;
  }

  .blog-form-btn {
    @apply bg-background-900 shadow-2xl hover:bg-background-800 cursor-pointer border-1 font-sansation border-black rounded-full p-5 min-h-[70px] w-full font-bold text-[24px];
  }
}
